OPEN_AI_API_KEY=<YOUR_OPEN_AI_KEY>

MONGO_URI=<MONGO_CONNECTION_STRING>
MONGO_DB_NAME="ai-guardrails"
PG_HOST=<PG_URL>
PG_PORT=<PG_PORT>
PG_USER=<PG_USER>
PG_PASSWORD=<PG_PASSWORD>
PG_DB=<PG_DB>
PG_SCHEMA="ai-guardrails"



KEYCLOAK_URL=<KEYCLOAK_URL>
KEYCLOAK_REALM=<KEYCLOAK_REALM>
KEYCLOAK_ADMIN_USERNAME=<KEYCLOAK_ADMIN_USERNAME>
KEYCLOAK_ADMIN_PASSWORD=<KEYCLOAK_ADMIN_PASSWORD>
OIDC_CLIENT_ID=<OIDC_CLIENT_ID>
OIDC_CLIENT_SECRET=<OIDC_CLIENT_SECRET>
OIDC_AUTH_URI=<OIDC_AUTH_URI>
OIDC_USERINFO_URI=<OIDC_USERINFO_URI>
OIDC_TOKEN_URI=<OIDC_TOKEN_URI>
OIDC_TOKEN_INTROSPECTION_URI=<OIDC_TOKEN_INTROSPECTION_URI>
OIDC_ISSUER=<OIDC_ISSUER>
OIDC_SCOPE= "email profile openid"

SUPERSET_URL=<SUPERSET_URL>
SUPERSET_DASHBOARDID=<SUPERSET_DASHBOARDID>
SUPERSET_ADMIN_USERNAME=<SUPERSET_ADMIN_USERNAME>
SUPERSET_ADMIN_PASSWORD=<SUPERSET_ADMIN_PASSWORD>
SUPERSET_GUEST_USER_FIRST_NAME=<SUPERSET_GUEST_USER_FIRST_NAME>
SUPERSET_GUEST_USER_LAST_NAME=<SUPERSET_GUEST_USER_LAST_NAME>
SUPERSET_GUEST_USER_USERNAME=<SUPERSET_GUEST_USER_USERNAME>


