VITE_CHAT_SERVICE_URL=<API_URL>
VITE_KEYCLOAK_URI=<YOUR_KEYCLOAK_URL>
VITE_KEYCLOAK_CLIENT=<KEYCLOAK_PUBLIC_CLIENT_NAME>
VITE_KEYCLOAK_REALM=<KEYCLOAK_REALM>
VITE_APPLICATION_NAME=<Custom_name_for_the_application>